<!--
    Author: Adolfo Gonzalez
    Date:  2/25/2019
    File:   admin.html

    This is the Dating Site Main Page.
                                        -->

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Bootstrap CSS-->
		<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
				integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
				crossorigin="anonymous">
		<!--CSS Styles-->
		<link href="styles/styles.css" rel="stylesheet">
		<title>Dating Site</title>
	</head>
	<body>
		<!-- NAV-BAR -->
		<div class="d-flex " id="navHeader">
			<div class="p-2">My Dating Website</div>
			<div class="ml-auto p-2">
				<a href="admin">
					<button class="btn btn-primary">admin</button>
				</a>
			</div>
		</div>
		<!-- This is the main container for the body -->
		<div class="container rounded border" id="main">
			<h3>Site Members</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Member_ID</th>
						<th>Name</th>
						<th>Age</th>
						<th>Phone</th>
						<th>Email</th>
						<th>State</th>
						<th>Gender</th>
						<th>Seeking</th>
						<th>Premium</th>
						<th>Interests</th>
					</tr>
				</thead>
				<tbody>
					<repeat group="{{ @members }}" value="{{ @Member }}">
						<tr>
							<td>{{ @Member['member_id'] }}</td>
							<td>
								<a href="{{ @BASE }}/admin/{{ @Member['member_id'] }}">
									{{ @Member['fname'] }} {{ @Member['lname'] }}
								</a>
							</td>
							<td>{{ @Member['age'] }}</td>
							<td>{{ @Member['phone'] }}</td>
							<td>{{ @Member['email'] }}</td>
							<td>{{ @Member['state'] }}</td>
							<td>{{ @Member['gender'] }}</td>
							<td>{{ @Member['seeking'] }}</td>
							<td>
								<input type="checkbox"
								<check if="{{ @Member['premium']==1}}">
									disabled
								</check>>
							</td>
							<td>
								{{ @Member['interests'] }}
							</td>
						</tr>
					</repeat>
				</tbody>
			</table>
		</div>
		<!--Bootstrap https://v4-alpha.getbootstrap.com/-->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
				integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
				crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
				integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
				crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
				integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
				crossorigin="anonymous"></script>
	</body>
</html>