<!--
    Author: Adolfo Gonzalez
    Date:   1/15/2019
    File:   home.html

    This is the Dating Site Main Page.
-->
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--CSS Styles-->
    <link href="styles/styles.css" rel="stylesheet">
    <title>Dating Site</title>
</head>
<body>
<header>
    <h4>My Dating Website</h4>
</header>
<br/>