<!--
    Author: Adolfo Gonzalez
    Date:   2/1/2019
    File: navbar.html

    HTML header for Dating Website.
-->

<!-- Main HTML header of dating website-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--CSS Styles-->
    <link rel="stylesheet" href="styles/styles.css">
    <title>Dating Site</title>
</head>
<body>
<div class="container-fluid">
    <header>
        <h4>My Dating Website</h4>
    </header>
    <!--this will be replaced with a nav bar -->
    <br/>
</div>