<!--
    Author: Adolfo Gonzalez
    Date:   1/15/2019
    File:   home.html

    This is the Dating Site Main Page.
-->
<!-- Site Head-->
<include href="views/header.html"></include>
<!-- This is the main container for the body -->
<div class="container rounded border" id="main">
    <div class="row ">
        <div class="col-md-6">
            <div class="text-center">
                <h1>My Dating Website</h1>
            </div>
            <p>
                Welcome to the web's most successful dating website. At <strong>My Dating
                Website</strong> you will meet other like minded individuals. We have the
                highest success rate of couples on the web. User's are matched by
                interest and location. Find out why so many others have found love on
                our site!
            </p>
            <div class="text-center font-weight-bold">
                <h5>Hear what our users are saying about us.</h5>
            </div>
            <hr>
            <!-- Testimonials -->
            <p><em>"I met the love of my life after only a month!" -Andrea</em></p>
            <p><em>It was so easy to set up a profile and start meeting people.
                I didn't realize how many others were looking for love in my
                area." -John Smith</em>
            </p>
            <p><em>"Just try it! You'll never be the same!" -Sarah</em></p>
            <hr>
            <!-- Button -->
            <div class="container text-center p-4">
                <form method="post" action="views/personal_information.html" class="horizontal">
                    <button type="submit" class="btn btn-primary btn-lg">
                        Create a Profile!
                    </button>
                </form>
            </div>
        </div>
        <!-- image column -->
        <div class="col-md-6">
            <img src="images/couple.jpg" alt="picture of a young man and woman couple"
                 class="img-fluid rounded border center"><br/><br/>
        </div>
    </div>
</div>
<!-- Site Head-->
<include href="views/footer.html"></include>