<!--
    Author: Adolfo Gonzalez
    Date:   2/1/2019
    File: info.html

    Personal Info page for Dating Website.
-->
<!-- Site Head-->
<include href="views/header.html"></include>
<!--Personal Info-->
<div class="container border rounded" id="main">
    <br/>
    <h1>Personal Information</h1>
    <hr>
    <form action="#" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-md-9 text-left">
                <label class="font-weight-bold">First Name</label><br/>
                <input type="text" name="first" id="first" class="form-control" value=""><br/>

                <label class="font-weight-bold">Last Name</label><br/>
                <input type="text" name="last" id="last" class="form-control" value=""><br/>

                <label class="font-weight-bold">Age</label><br>
                <input type="number" name="age" id="age" class="form-control" value=""><br/>

                <label class="font-weight-bold">Gender</label><br/>
                <input type="radio" name="gender" value="male" value="male" checked>
                Male&nbsp;
                <input type="radio" name="gender" value="female" value="female">
                &nbsp; Female <br/><br/>

                <label class="font-weight-bold">Phone Number</label><br/>
                <input type="tel" name="phone" id="phone" class="form-control" value=""><br/>

                <div>
                    <span class="font-weight-bold">Premium Membership</span><br/>
                    <input type="checkbox" name="premium" id="premium" value="">&nbsp;&nbsp;Sign me up for
                    a Premium Account!</br>
                </div>
            </div>
            <!--Disclaimer-->
            <div class="col-md-3 text-center">
                <br/>
                <div class="container rounded border m-3" id="note">
                    <p><span class="font-weight-bold ">Note:</span> All information entered is protected by
                        our privacy policy. Profile information
                        can only be viewed by others with your permission.
                    </p>
                </div>
                <br/>


            </div>
        </div>

        <!--Button-->
        <div class="text-right">
            <div class="align-bottom">
                <button type="submit" class="btn btn-primary btn-lg">Next></button>
            </div>
        </div>
    </form>
</div>
<!-- Site Footer-->
<include href="views/footer.html"></include>