<!--
    Author: Adolfo Gonzalez
    Date:   2/1/2019
    File: interests.html

    Interests page for Dating Website.
-->
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--CSS Styles-->
    <link href="../styles/styles.css" rel="stylesheet">
    <title>Dating Site</title>
</head>
<body>
<header>
    <h4>My Dating Website</h4>
</header>
<br/>
<!--Interests-->
<div class="container rounded border">
    <br/>
    <h1>Interests</h1>
    <hr>
    <form method="post" action="#" class="form-control">
        <div class="row">
            <div class="col-sm-12">
                <label class="font-weight-bold">In-door Interests</label>
                <div class="container rounded border">
                    <div class="row form-group p-sm-1">
                        <div class="col-sm-3 form-group">
                            <input type="checkbox" name="indoor[]" value="tv"> tv<br/>
                            <input type="checkbox" name="indoor[]" value="puzzles"> puzzles<br/>
                        </div>
                        <div class="col-sm-3 form-group">
                            <input type="checkbox" name="indoor[]" value="movies"> movies<br/>
                            <input type="checkbox" name="indoor[]" value="reading"> reading<br/>
                        </div>
                        <div class="col-sm-3 form-group">
                            <input type="checkbox" name="indoor[]" value="cooking"> cooking<br/>
                            <input type="checkbox" name="indoor[]" value="cards"> playing cards<br/>
                        </div>
                        <div class="col-sm-3 form-group p-sm-1">
                            <input type="checkbox" name="indoor[]" value="board"> board games<br/>
                            <input type="checkbox" name="indoor[]" value="video"> video games<br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="font-weight-bold">Out-door Interests</label>
                        </div>
                    </div>
                    <div class="row form-group p-sm-1">
                        <div class="col-sm-3 form-group">
                            <input type="checkbox" name="outdoor[]" value="hiking"> hiking<br/>
                            <input type="checkbox" name="outdoor[]" value="walking"> walking<br/>
                        </div>
                        <div class="col-sm-3 form-group ">
                            <input type="checkbox" name="outdoor[]" value="biking"> biking<br/>
                            <input type="checkbox" name="outdoor[]" value="climbing"> climbing<br/>
                        </div>
                        <div class="col-sm-3 form-group">
                            <input type="checkbox" name="outdoor[]" value="swimming"> swimming
                        </div>
                        <div class="col-sm-3 form-group">
                            <input type="checkbox" name="outdoor[]" value="collecting"> collecting
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-lg align-content-end">Next></button>
                </div>
            </div>
        </div>


    </form>

</div>

<!--Bootstrap https://v4-alpha.getbootstrap.com/-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>