<!--
    Author: Adolfo Gonzalez
    Date:   2/1/2019
    File: navbar.html

    Navigation bar for Dating Website.
-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Assignment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<div class="container-fluid">
    <header><h5>My Dating Website</h5></header>
    <br/>
</div>