<!--
    Author: Adolfo Gonzalez
    Date:   2/1/2019
    File: personal_information.html

    Personal Info page for Dating Website.
-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="container-fluid">
    <header><h5>My Dating Website</h5></header><!--this will be replaced with a nav bar -->
    <br/>
</div>
<!--Personal Info-->
<div class="container rounded border" id="main">
    <br/>
    <h1>Personal Information</h1>
    <hr>
    <div class="row">
    <form action="profile.html" method="post" class="form-horizontal">


            <div class="col-md-9 text-left">
                <label class="font-weight-bold">First Name</label><br/>
                <input type="text" name="fName" id="fName" class="form-control"><br/>
                <label class="font-weight-bold">Last Name</label><br/>
                <input type="text" name="lName" id="lName" class="form-control"><br/>
                <label class="font-weight-bold">Age</label><br>
                <input type="number" name="age" id="age" class="form-control"><br/>
                <label class="font-weight-bold">Gender</label><br/>
                <input type="radio" name="gender" value="male">&nbsp;Male&nbsp;
                <input type="radio" name="gender" value="female">&nbsp; Female <br/><br/>
                <label class="font-weight-bold">Phone Number</label><br/>
                <input type="tel" name="phone" id="phone" class="form-control"><br/>
            </div>
            <!--Disclaimer-->
            <div class="col-md-3 text-center">
                <br/>
                <div class="container rounded border m-3" id="note">
                    <p class="p-2"><span class="font-weight-bold ">Note:</span> All information entered is protected by
                        our privacy
                        policy. Profile information
                        can only be viewed by others with your permission.</p>
                </div>
            </div>
        </div>
        <!--Button Next-->
        <div class="row">
            <div class="col-sm-12 text-right">

                <button type="submit" class="btn btn-primary m-sm-2">Next></button>
                <br/>

            </div>
        </div>
    </form>
</div>

<!--JavaScript-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="../bootstrap/bootstrap.min.js"></script>
<script src="../bootstrap/jquery.slim.min.js"></script>
<script src="../bootstrap/popper.min.js"></script>


</body>
</html>