<!--
    Author: Adolfo Gonzalez
    Date:   2/1/2019
    File: personal_information.html

    Personal Info page for Dating Website.
-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="container-fluid">
    <header><h5>My Dating Website</h5></header><!--this will be replaced with a nav bar -->
    <br/>
</div>
<!--Profile-->
<div class="container rounded border" id="main">
    <br/>
    <h1>Profile</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <form>

            </form>




        </div>

    </div>

</div>

<!--JavaScript-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="../bootstrap/bootstrap.min.js"></script>
<script src="../bootstrap/jquery.slim.min.js"></script>
<script src="../bootstrap/popper.min.js"></script>


</body>
</html>